<p id="notice"></p>
<div class="container">
  <div class="row">
    <%= render "list", yes: @user, book: @booka %>
    <div class="col-md-8 offset-md-1">
      <h2>Book detail</h2>
      <table class="table">
        <tbody>
          <tr>
            <td>
              <%= link_to user_path(@user.id) do %>
                <%= image_tag @user.get_profile_image(40, 40) %><br>
                <%= @user.name %>
              <% end %>
            </td>
            <td><%= link_to @book.title, book_path(@book.id) %></td>
            <td><%= @book.body %></td>
            <td id="favorite_buttons_<%= @book.id %>">
              <%= render "favorites/favorite", book: @book %>
            </td>
              <td>コメント数: <%= @book.book_comments.count %></td>
            <% if @user == current_user %>
              <td><%= link_to "Edit", edit_book_path(@book.id), class: "btn btn-sm btn-success" %></td>
              <td><%= link_to "Destroy", book_path(@book.id), method: :delete, "data-confirm" => "本当に消しますか?", class: "btn btn-sm btn-danger" %></td>
            <% end %>
          </tr>
        </tbody>
      </table>
      <table>
        <tbody id="comments">
          <%= render "book_comments/book_comment", book: @book %>
        </tbody>
      </table>
      <%= form_with model: [@book, @book_comment], local: false do |f| %>
        <%= f.text_area :comment, class: "form-control" %><br>
        <%= f.submit "送信" %>
      <% end %>
    </div>
  </div>
</div>