<% if @model == 'user' %>
	<h3>Users search for "<%= @content %>"</h3>
	<table class="table table-hover table-inverse">
  <thead>
      <tr>
        <th></th>
        <th>Name</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |user| %>
        <tr>
          <td><%= image_tag user.get_profile_image(40, 40) %></td>
          <td><%= link_to user.name, user_path(user.id) %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
<% elsif @model == 'book' %>
	<h3>Books search for "<%= @content %>"</h3>
	<table class="table table-hover table-inverse">
  <thead>
      <tr>
        <th></th>
        <th>Title</th>
        <th>Opinion</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% @records.each do |book| %>
        <tr>
          <td><%= image_tag book.user.get_profile_image(40, 40) %></td>
          <td><%= link_to book.title, book_path(book.id) %></td>
          <td><%= book.body %></td>
        </tr>
      <% end %>
    </tbody>
    </table>
<% end %>